.whiteArial8
{
    BACKGROUND-COLOR: #428AB5;
    COLOR: #FFFFFF;
    FONT-FAMILY: 'Arial':
               
}

.whiteVerdana8 {
	color: #FFFFFF;
	font-family: Verdana;
	font : 8pt;
}

.blackVerdana8 {
	color: #000000;
	font-family: Verdana;
	font : 8pt;
}


.bluetext { color: #FF7389; }


